.project {
    
    margin: 20px;
    padding: 20px;
    border-radius: 8px;
    
    box-shadow: rgba(0, 0, 0, 0.1) -4px 9px 25px -6px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    background-color: white;
}
.project:hover {
    box-shadow: rgba(0, 0, 0, 0.2) 0px 5px 15px 0px;
    transform: scale(1.009); /* Slight zoom-in effect on hover */
}

.project-heading {
    font-size: 1.5em;
    margin-bottom: 20px;
    
}

.project-detail,
.summary {
    margin-bottom: 20px;
}

.summary h3 {
    font-size: 1.2em;
    margin-bottom: 10px;
}

