@keyframes slideIn {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    
  }
  to {
    opacity: 1;
    
  }
}

.publication {
  
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  margin-top: 50px; 
  width: 60%; 

  margin-left: 20px;
  margin-right: auto; 
  animation: fadeIn 0.9s ease;
  }
  
  .publication-info {
    display: flex;
    flex-direction: column;
  }
  
  .publication-title {
    animation: slideIn 0.5s ease;
    color: #d25208;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  .publication-members {
    font-size: 16px;
    margin-bottom: 5px;
  }
  
  .publication-technology {
    font-size: 14px;
  }
  
  .publication-year {
    font-size: 18px;
    font-weight: bold;
  }
  